.idea
src/.phpunit.cache
src/node_modules
src/public/build
src/public/hot
src/public/storage
src/storage/*.key
src/vendor
src/.env.backup
src/.env.production
src/.phpunit.result.cache
src/Homestead.json
src/Homestead.yaml
src/auth.json
src/npm-debug.log
src/yarn-error.log
src/.fleet
src/.idea
src/.vscode
