@tailwind base;
@tailwind components;
@tailwind utilities;

html,body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB',
    'Microsoft YaHei', '微软雅黑', Arial, sans-serif;
}

#app {
    height: 100%;
    /*width: 90%;*/
    /*max-width: 800px;*/
    margin: 0 auto;
}
